<a href="https://colab.research.google.com/github/SUNO-Back/SUNO-Python/blob/main/chapter9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##입력과 출력
* 입력 : input()
* 출력 : print()

#####함수와 메서드
> 함수 : 어디에 속해있지 않고 단독 모듈이라 함수를 그냥 호출하여 사용  
예) print(), input()
https://docs.python.org/ko/3/library/functions.html

> 메소드 : 함수의 클래스 안에 속해 있고 클래스의 멤버 변수들을 이용해서 구현된 것. 단독으로 사용 불가  
예) "까먹으신건가요?".count("까") / "까먹으신건가요?".index("까")

In [ ]:
"까먹으신건가요?".count("까") , "까먹으신건가요?".index("까")

(1, 0)

In [ ]:
숫자, 문자 = 5,"5"
print(숫자,문자)

5 5

In [ ]:

인사 = input("(맨유 최고 미드필더)아...안녕")
print(인사 + "눈부시게")
print(type(인사))

(맨유 최고 미드필더)아...안녕 뭘 봐
 뭘 봐 눈부시게
<class 'str'>

In [ ]:
# int(),float(),str(),bool()

정수 = int(input())
print(정수,type(정수))

실수 = float(input())
print(실수,type(실수))

5
5 <class 'int'>
5
5.0 <class 'float'>

그 외 입력값의 형변환이 가능한 종류
* tuple()
* list()
* dict()
* set()

In [ ]:
넌센스, 정답 = input().split(",") # split()으로 입력하면 공백으로 나눠서 입력 '에스파를 만나면' < 에스파를 = 넌센스 , 만나면 = 정답 으로 인식됨 (",") 은 , 기준으로 나눈다는 뜻
print(f'넌센스 퀴즈 : {넌센스}')
print(f'정답 : {정답}')

스페인에서 에스파를 만나면?,에스파냐
넌센스 퀴즈 : 스페인에서 에스파를 만나면?
정답 : 에스파냐

In [ ]:
#시퀀스 자료형에 다 지원되는 메소드
번호1, 번호2, 번호3, 번호4 = input().split(",")

번호1 = int(번호1)
번호2 = int(번호2)
번호3 = int(번호3)
번호4 = int(번호4)

print(type(번호1), 번호2, 번호3, 번호4)

233,232,234,236
<class 'int'> 232 234 236

In [ ]:
#map()
번호1, 번호2, 번호3, 번호4 = map(int, input().split(",")) # map안에 들어오는 값들을 int(정수)로 변환 하고싶으면 map()안에 바꾸고싶은 변환타입을 맨 앞으로 기입해야함.

print(type(번호1), 번호2, 번호3, 번호4)

12,45,78,99
<class 'int'> 45 78 99

In [ ]:
# 레거시 : 누군가 남겨두고간 코드
# 리팩토링 : 결과의 변경 없이 코드의 구조를 재조정 하는 것.
# input()

#bread__p, bread__s, bread__j = "붕어빵(팥)","붕어빵(슈크림)","붕어빵(잡채)"
bread__p, bread__s, bread__j = input('붕어빵(팥),붕어빵(슈크림),붕어빵(잡채)를 순서대로 개수를 입력하고 꼭 쉼표를 입력하고 안사는 붕어빵에는 0을 넣어줘').split(",")
bread__p__sell,bread__s__sell,bread__j__sell = 2000,2500,3000
order_s,order_j = 2,3
order_s__pay,order_j__pay = bread__s__sell * 2,bread__j__sell *3
total = order_s + order_j
total_pay = order_s__pay + order_j__pay
print(f'주문이 완료되었습니다{bread__s}{order_s}개,{bread__j}{order_j}개 총{total}개 결제 금액은 {total_pay}원 입니다')

붕어빵(팥),붕어빵(슈크림),붕어빵(잡채)를 순서대로 개수를 입력하고 꼭 쉼표를 입력하고 안사는 붕어빵에는 0을 넣어줘0,슈크림,잡채
주문이 완료되었습니다슈크림2개,잡채3개 총5개 결제 금액은 14000원 입니다

In [ ]:
#print() 함수에 기능을 이용해보겠습니다.

print("초코칩","민트","샷추가","휘핑크림")
print("초코칩","민트","샷추가","휘핑크림",sep='/')
print("초코칩","민트","샷추가","휘핑크림",sep=':')
print("초코칩","민트","샷추가","휘핑크림")
print("초코칩","민트","샷추가","휘핑크림",sep='\n')

초코칩 민트 샷추가 휘핑크림
초코칩/민트/샷추가/휘핑크림
초코칩:민트:샷추가:휘핑크림
초코칩 민트 샷추가 휘핑크림
초코칩
민트
샷추가
휘핑크림

In [ ]:
#end 한줄로 이어짐.
print("초코칩","민트","샷추가","휘핑크림", end=' ')
print("초코칩","민트","샷추가","휘핑크림")
print("초코칩","민트","샷추가","휘핑크림")

초코칩 민트 샷추가 휘핑크림 초코칩 민트 샷추가 휘핑크림
초코칩 민트 샷추가 휘핑크림