<a href="https://colab.research.google.com/github/SUNO-Back/SUNO-Python/blob/main/chepter10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### list

* list란? 원소들이 연속적으로 저장되는 형태의 자료형을 말합니다.
* 시퀀스 자료형!!
        *str(),list(),tuple(),dict(),set()
* 만드는 방법은 대괄호로 묶어주고, 값을은 콤마로 구분합니다

In [ ]:
# 두근두근 첫 리스트

list = []
print(list)

list = [23, "이게 리스트다", 3,23, True, False]
print(list)

[]
[23, '이게 리스트다', 3, 23, True, False]

In [ ]:
# 다시 한번 리스트 선언
my_list = ["이", "렇", "게", "만", "들", "어", "요"]
my_list

#range? 연속된 숫자를 생상하는 기능
range(10)

#list(range(시작,끝))
리스트_매직_들어간다 = list(range(0,20))
리스트_매직_들어간다

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
#list(range(시작,끝,증가))
리스트_매직2 = list(range(0,20,2)) # 0부터19까지 2칸씩 띄어서 표기
print(리스트_매직2)

리스트_매직3 = list(range(20,0,-1)) # 20부터 1까지 역순으로 표기
print(리스트_매직3)

리스트_매직4 = list(range(20,0)) # 20부터 0까지 인데 -1이 없어서 값이 없음
print(리스트_매직4)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[]

In [ ]:
# 끝나지 않는 리스트 매직
# 리스트를 이용해 변수에 값 넣기

a, b, c = ["들","어","가"]
print(a,b,c)

d, e, f = [7, 7, 8]
print(d,e,f)

지갑 = [10000, 5000, 1000] #지갑에 10000,5000,1000 리스트 생성
만원, 오천원, 천원 = 지갑 # 리스트에 있는 순서대로 왼쪽에 값 기입
print(f'{만원}원 2장, {오천원}원 3장 {천원}원 1장') # 출력 10000원 2장 5000원3장 1000원 1장

들 어 가
7 7 8
10000원 2장, 5000원 3장 1000원 1장

In [ ]:
# 리스트 패킹,언패킹
input().split()

기억? 나요?

['기억?', '나요?']

In [ ]:
# 슬라이싱

#수업중 문제

로또 = [3,5,15,33,41,44]
#로또 변수에 있는 리스트의 인덱스 1번부터 2번까지의 값을 출력해
print(로또[1:3])
#로또 변수의 마지막 위치 출력해줘
print(로또[-1])
#반대로 출력해보세요
print(로또[::-1])
#로또 리스트안에 33이 있는지 확인해보세요
print(33 in 로또)
#로또 리스트를 로또2 리스트와 합쳐보세요
로또2 = [2,12,15,24,33,39]
print(로또 + 로또2)
#range를 이용해서 1부터 10사이에 짝수만 들어있는 짝수(변수명) 리스트를 만들어주세요
짝수 = list(range(2,12,2))
print(짝수)
#짝수 리스트에 들어있는 값을 2배 늘리고 다시 짝수 변수에 담아줘
짝수 = 짝수 * 2
print(짝수)
#짝수 리스트에 들어있는 요소의 개수를 구해주세요
print(len(짝수))
#짝수 리스트에 3번째 인덱스를 출력해주세요
print(짝수[3])
#len()함수를 이용해 인덱스 마지막 값을 출력해주세요
print(짝수[len(짝수)-1])

[5, 15]
44
[44, 41, 33, 15, 5, 3]
True
[3, 5, 15, 33, 41, 44, 2, 12, 15, 24, 33, 39]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10, 2, 4, 6, 8, 10]
10
8
10

In [ ]:
# list에 값을 넣고, 바꾸고, 지우고

mzfood = ["숙주","분모자","마라","소세지","소고기","옥수수면"]

# 값을 넣는 방법 2가지 : append(): 마지막 요소에 값을 넣음 insert(): 원하는곳에 값을 넣음
mzfood.append("고수")
print(mzfood)

mzfood.insert(0,"탕후루")
print(mzfood)

#값 지우기 del
del mzfood[-1]
print(mzfood)

del mzfood[0]
print(mzfood)

#값 바꾸기
mzfood[-2] = "양고기"
print(mzfood)

# 문자열은 안된다.
# 인사 = "반가워"
# 인사[-1] = "룽" # 출력하면 오류남

['숙주', '분모자', '마라', '소세지', '소고기', '옥수수면', '고수']
['탕후루', '숙주', '분모자', '마라', '소세지', '소고기', '옥수수면', '고수']
['탕후루', '숙주', '분모자', '마라', '소세지', '소고기', '옥수수면']
['숙주', '분모자', '마라', '소세지', '소고기', '옥수수면']
['숙주', '분모자', '마라', '소세지', '양고기', '옥수수면']

In [ ]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
#위에 숨겨진기능들중 예시로 몇개 써보기 reverse = 반전 sort = 오름차순 정렬 ㄱㄴㄷㄹㅁㅂㅅ,123456,abcdef

print(mzfood)

mzfood.reverse()
print(mzfood)
print(mzfood.reverse())


mzfood.sort()
print(mzfood)
print(mzfood.sort())


# reverse,sort에 print문을 쓰면 none이 나올까?
# 리스트.sort(), 리스트.reverse()
# - 리스트 자체를 변경하는 in-place 방식 이라 반환값 없음
#  여기서 반환값이란? "함수가 일을 끝내고 결과로 돌려주는 값" 인데 저거는 그냥 제자리에서 리스트만 바꿀뿐 값을 돌려주진 않아
#  그래서 어떤식으로 해야하냐 예를 들어
#  a = [1,2,3]  이라는 리스트를 만들어주고
#  a.reverse()  를 하고
#  print(a) 를 출력하게 되면 [3,2,1] 이라는 값이 나오게 되는것

# 반대로 반환값이 있는 메서드는 왜 값을 줄까?
# 예를들어
# s = "hello"
# print(s.upper())
# HELLO       이렇게 출력되는데 여기서 .upper()은 왜 None이 아니라 새 문자열을 반환할까?
# 어떤 객체는 원본을 바꿀 수 없어서 새 값을 만들어 줄 수 밖에 없는거야
# 문자열(str)은 "불변성" 이잖아 그래서 s = hello 라는 문자열은 바꿀 수 없는 구조야
# 그래서 upper() 같은 메서드는 문자열을 수정할 수가 없어 대신 새롭게 변환된 문자열을 만들어서 반환 해야해
# 쉽게 비유하자면 문자열 = 고정된 모양의 완성품 잘라서 고칠 수 없으니 새 제품을 만들어서 돌려줘야 하는거지
#
# 정리하자면 변경가능한 메서드는 리스트를 자유자재로 바꾸고 뒤집고 할 수 있으니까 굳이 새로운걸 만들어서 돌려줄 필요가 없고 그냥 원본 리스트만 수정하고 끝.
#         변경이 불가능한 메서드는 원본이 수정 불가니까 새로운걸 만들어서 값을 반환하는것.

['마라', '분모자', '소세지', '숙주', '양고기', '옥수수면']
['옥수수면', '양고기', '숙주', '소세지', '분모자', '마라']
None
['마라', '분모자', '소세지', '숙주', '양고기', '옥수수면']
None

In [ ]:
# 리스트 까도까도 또 나오네?
# 2차원 리스트에 대해서도 공부는 필수

양파같은 = [[2,0], [3,1]]
print(양파같은)

print(양파같은[1])

#3을 출력해줘
print(양파같은[1][0])

양파같은.append([4,1])
print(양파같은)

[[2, 0], [3, 1]]
[3, 1]
3
[[2, 0], [3, 1], [4, 1]]