<a href="https://colab.research.google.com/github/SUNO-Back/SUNO-Python/blob/main/chapter5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
divmod(3,2)

(1, 1)

In [ ]:
#사칙연산 괄호안부터 계산(기본)
print((3+2)*4)

20

In [ ]:
# 아아 : 5000원 / 아샷추 :6500원
# 아아 2잔/ 아샷추 3잔

(5000*2)+(6500*3)

29500

In [ ]:
# 변수를 사용하지 않을때
# 이전에 계산된 결과를 저장할 수 있는 방법이 없음
1+2
1+2+3
1+2+3+4
1+2+3+4+5

15

In [ ]:
# 변수를 사용할때
# 이전에 계산된 결과를 저장해서 사용할 수 있음

sum = 1+2
sum = sum + 3
sum = sum + 4
sum = sum + 5

print(sum)

15

### 변수에 값을 넣는것 => 할당
## 변수 : 하나의 값을 저장할 수 있는 공간을 생성하는 것

sum = 1 + 2 => 1+2의 계산된 결과를 sum이라는 변수에 할당한다.  
sum은 변수명이고 "=" 같다는 의미가 아니라 할당(assignment)이라고 합니다.  
"=" : 할당 연산자  
"+" : 산술 연산자  
+= : 산술 후 바로 할당하는 문법  
/=, -=,*= 모두 가능합니다

In [ ]:
#변수를 사용하면서 사용 가능한 문법

sum = 1+2
sum = sum + 3
sum = sum + 4
sum = sum + 5

print(sum)

sum2 = 1 + 2
sum2 +=3
sum2 +=4 = sum = sum + 4
sum2 +=5

print(sum2)

15
15

In [ ]:
# 주의!! 선언되지 않은 변수를 사용할 경우 에러 발생
# 위에 상황에서 봤을때 sum3를 선언하지 않았는데 sum3에 대한 값을 요구하면 안됨.

In [ ]:
# 변수에 어떤값도 넣지 않고 선언하는 방법 None 대소문자 구분 필수
# nothing만 쳤을땐 아무것도 안뜸
# print를 사용하면 뜸

nothing = None
nothing
print(nothing)

None

##변수를 만드는 규칙
영문 문자와 숫자르 사용할 수 있습니다.  
대소문자를 구분합니다.  
첫글자는 대문자로 쓰는걸 지향합니다.  
문자부터 시작해야 하며 숫자부터 시작하면 안됩니다.  
_(밑줄 문자)로 시작할 수 있습니다.  
특수 문자 (+,-,*,/,$,@,&,% 등)는 사용할 수 없습니다.  
파이썬의 키워드(if,for,while,and,or등)는 사용할 수 없습니다.

In [ ]:
#대소문자를 구분하는 변수
BIG = "크다"
big = "작다"

print(BIG,big)

크다 작다

스네이크케이스(snake case)
변수명 : snake_case_

카멜케이스(camel case)
변수명: camelCase  
**나중에 코드컨벤션 같은거 찾아보기**

In [ ]:
# 우리는 변수를 만들때 스네이크케이스로 진행합니다. 그리고 언더바는 2개를 적용시켜주세요
# 개발에 관련된 여러 조건을 명시하는 것들을 코드 컨벤션이라고 합니다.

box__shose = "스니커즈"
box__hat = "슈프림 모자"

print(box__shose)
print(box__hat)

스니커즈
슈프림 모자

In [ ]:
#print() <- 출력을 원할때 쓰는것
#포메팅 3가지 f-string : f' print{변수명} '

me = "순노"
print(f'{me}만 빼고 다 잘생겼어')

순노만 빼고 다 잘생겼어

In [ ]:
#파머님이 내주시는 문제
#붕어빵 철이 돌아왔죠
#붕어팡(팥) : 2000원, 붕여빵(슈크림) 2500원, 붕어팡 (잡채) : 3000원
#무인 주문 기계를 만들어주세요
#붕어빵(잡채)3개,붕어팡(슈크림)2개를 주문하면
#"주문이 완료되었습니다. 붕어빵(슈크림)2개, 붕어빵(잡채)3개 총 5개 결제 금액은 14000원 입니다"
# 이 출력되도록 코드를 작성해주세요
#변수를 만들때 스네이크 케이스에 언더바는 2개 / print()문의 포메팅은 f-string

#변수값 입력
bread__p, bread__s, bread__j = "붕어빵(팥)","붕어빵(슈크림)","붕어빵(잡채)"
bread__p__sell,bread__s__sell,bread__j__sell = 2000,2500,3000
order_s,order_j = 2,3

#붕어빵 계산값
order_s__pay,order_j__pay = bread__s__sell * 2,bread__j__sell *3
#붕어빵 구매 개수
total = order_s + order_j
#붕어빵 총 가격
total_pay = order_s__pay + order_j__pay
#출력
print(f'주문이 완료되었습니다{bread__s}{order_s}개,{bread__j}{order_j}개 총{total}개 결제 금액은 {total_pay}원 입니다')

주문이 완료되었습니다붕어빵(슈크림)2개,붕어빵(잡채)3개 총5개 결제 금액은 14000원 입니다